## .NET build
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.user
*.suo
*.userosscache
*.sln.docstates

## Visual Studio / Rider / VS Code
.vs/
.vscode/
*.DotSettings.user

## Verify
*.received.*

## Local databases
*.db
*.db-shm
*.db-wal

## OS
.DS_Store
Thumbs.db
